*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-size: 100% 100%;
}

.navbar{
    background-color: deepskyblue;
}

.navbar span{
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
}


main{
    margin: 0 3%;
}

.back{
    margin: 5% 0 3% 0;
    font-size: 1.5em;
}

.back a{
    color: rgb(214, 4, 141);
    text-decoration: none;
}

.images{
    width: 150px;
    height: 150px;
    margin-top: 5%;
    margin-bottom: 2%;
}

/*Clothes*/
.clothes{
    border: 3mm solid red;
    padding: 2% 0;
    border-radius: 40px;
}
.clothes section h2{
    font-size: 3em;
    color:rgb(0, 213, 206);
}

.clothes section .row h4{
    color: brown;
}

/*Shoes*/
.shoes{
    margin-top: 5%;
    border: 3mm solid rgb(25, 182, 4);
    padding: 2% 0;
    border-radius: 40px;
}

.shoes section h2{
    font-size: 3em;
    color: rgb(222, 170, 0);
}

.shoes section .row h4{
    color: rgb(244, 143, 10);
}

/*Accessories*/
.accessories{
    margin-top: 5%;
    border: 3mm solid rgb(140, 5, 113);
    padding: 2% 0;
    border-radius: 40px;
}

.accessories section h2{
    font-size: 3em;
    color: rgb(5, 109, 99);
}

.accessories section .row h4{
    color: rgb(244, 69, 69);
}

/*Footer section*/
#footer{
    background-color: deepskyblue;
    margin-top: 5%;
    padding: 2% 0;
    color: whitesmoke;
}
#footer a{
    text-decoration: none;
    color: whitesmoke;
}

.floating-button-div {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  
  .top {
    background-color:transparent;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }

@media screen and (min-width: 200px) and (max-width: 767px) {
    body{
        background-size: auto;
    }

    .back{
        margin-top: 20%;
    }

    .navbar span{
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body{
        background-size: auto;
    }
}
